<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-4">登入</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="input-group-prepend mb-3">
          <span class="input-group-text" id="email">Email</span>
          <input type="email" id="email" name="email" class="form-control" placeholder="請輸入email">
        </div>
        <div class="input-group-prepend mb-3">
          <span class="input-group-text" id="password">密碼</span>
          <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼">
        </div>
        <div class="button-group d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-primary btn-block">登入</button>
        </div>
      </form>
      <p class="lead mt-4">
        沒有帳戶? <a href="/users/register">立即註冊</a>
      </p>
    </div>
  </div>
</div>