<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增餐廳資料 <i class="fas fa-key"></i></h5>
          <form action="/restaurants" method="POST">

            <div class="form-group form-row">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">中文店名</span>
                </div>
                <input type="text" placeholder="請輸入餐廳名稱" name="name" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">英文店名</span>
                </div>
                <input type="text" placeholder="請輸入英文店名" name="name_en" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">照片</span>
                </div>
                <input type="text" placeholder="請輸入餐廳照片網址" name="image" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">類別</span>
                </div>
                <input type="text" placeholder="請輸入餐廳類別" name="category" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">評分</span>
                </div>
                <input type="text" placeholder="請輸入0~5.0之間的數字" name="rating" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">地址</span>
                </div>
                <input type="text" placeholder="請輸入餐廳地址" name="location" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">電話</span>
                </div>
                <input type="text" placeholder="請輸入餐廳電話" name="phone" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">餐廳地圖</span>
                </div>
                <input type="text" placeholder="請輸入餐廳Google Map網址" name="google_map" class="form-control"
                  aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">餐廳特色</span>
                </div>
                <input type="text" placeholder="請輸入餐廳特色" name="description" class="form-control" aria-label="Default"
                  aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div class="button-group d-flex justify-content-center mt-4">
              <button class="btn btn-success mr-5" type="submit">新增餐廳</button>
              <a href="/" class="btn btn-outline-primary">取消新增</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>